/*Base styles*/
*{font-family: Comic Sans MS;}

h1 {
	text-align: center; 
	font-size: 1.75em;
}

div {
    box-sizing: border-box;
	border: 2px solid black; 
	padding: 0px;  
	background-color: gray;
	margin:15px;
}

h2 {
   
  font-size: 1.25em; 
  font-weight: bold; 
  border: 2px solid black; 
  padding: 5px 30px 5px 30px;
  text-align: center;
  position:relative; 
  float: right; 
  margin-top:0; 
  margin-bottom:0;
}

.chiken h2 {background-color: pink;}
.beef h2 {background-color: red; color: white;}
.sushi h2 {background-color: rgb(252,234,192);}

p {color: black; padding: 35px 5px 5px 5px;}

/*Desktop version*/
@media screen and (min-width: 992px)

{
 .chiken, .beef, .sushi {width:calc(33.33% - 30px); float: left;}
} 

/*Tablet version*/
@media screen and (min-width: 768px) and (max-width: 991px)

{ 
 .chiken {width:calc(50% - 30px); float: left;}
 .beef {width:calc(50% - 30px); float: left;}
 .sushi {width:calc(100% - 30px); float: left;}
} 


/*Mobile version*/

 @media screen and (max-width: 767px)
 {
.chiken, .beef, .sushi {box-sizing: border-box; width:calc(100% - 30px); clear:both;}

}
